<h1>Proyecto creado para la entrega final del Curso de Python de Coderhouse, comisión 40150.</h1>
<h1>Naci el 1 de enero de 1991 y vivo el la ciudad de Cordoba</h1>
<h1>Soy Licenciado en administracion de empresas</h1>
<h1>Me gusta el basquet , futbol y el ajedrez</h1>
<h1>Se que el trabajo esta medio rustico, ire perfeccionandolo con el tiempo para que quede funcional , pero la verdad que el curso estuvo muy bueno,</h1>
<h1>proximamente estare comenzando con el de javascrip en coder como tambien el de argentina programa.</h1>