{% extends 'Home/base.html' %}

{% block lista_casas %}
<h3>Proyecto creado para la entrega final del Curso de Python de Coderhouse, comisión 40150.</h3>
<h3>Naci el 1 de enero de 1991 y vivo el la ciudad de Cordoba</h3>
<h3>Soy Licenciado en administracion de empresas</h3>
<h3>Me gusta el basquet , futbol y el ajedrez</h3>
<h3>Se que el trabajo esta medio rustico, ire perfeccionandolo con el tiempo para que quede funcional , pero la verdad que el curso estuvo muy bueno,</h3>
<h3>proximamente estare comenzando con el de javascrip en coder como tambien el de argentina programa.</h3>
{% endblock lista_casas %}