<!DOCTYPE html>

<html lang="en">
  <head>

    {% load static %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Complejo Cuesta Los Robles</title>
    
    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Home/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'Home/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'Home/css/custom.css' %}">

    
  </head>
  <body>

  <!-- START: header -->

  {% block barralinks %}
    
    <div class="row">
        
        

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            .
           
             
             
              
             
              
             
              {% if request.user.is_authenticated %}
             
                        
            
            
            <li><a href="{%url 'inicio' %}">Inicio</a></li>
            <li><a href="{%url 'reseñas' %}">Reseñas</a></li>
            <li><a href="{%url 'casas' %}">Casas</a></li>
            <li><a href="{%url 'reservas' %}">Reservar</a></li>
            <li><a href="{%url 'blog' %}">Blog</a></li>
            <li><a href="{%url 'contacto' %}">Contacto</a></li>
            <li><a href="{%url 'mensajes_list' %}">Chat</a></li>
            <li><a href="{%url 'acercade' %}">Acerca de</a></li>
            <li><a href="{%url 'logout' %}">Cerrar sesion</a></li>
          
          {% else %}
          <li><a href="{%url 'inicio' %}">Inicio</a></li>
          <li><a href="{%url 'casas' %}">Casas</a></li>
          <li><a href="{%url 'blog' %}">Blog</a></li>
          <li><a href="{%url 'login' %}">Iniciar sesion</a></li>
          <li><a href="{%url 'register' %}">Crear Usuario</a></li>
          <li><a href="{%url 'acercade' %}">Acerca de</a></li>
          {% endif %}
          
          
       
          
          
          </ul>
          
        </nav>
        
      
      </div>
      {% endblock barralinks %} 
     
     {% block imagen %}
     <center> <img src="https://lh3.googleusercontent.com/p/AF1QipOG4qo2GF5TfbvUXbOfUikcS8-g2XSF3Lr-VAui=w1080-h608-p-no-v0" alt="fondo"> 
     </center>
     {% endblock imagen %}
     
    
    
  </header>
<div>

</div>
  <!-- END: header -->
  {% block lista_casas %}
   <section class="probootstrap-section probootstrap-section-dark">
    <div class="container">
      <div class="row mb30">
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
          <h2>Nuestras casas</h2>
         
          
          <div>
         
        
        {% endblock lista_casas %}     
        
            </div>
        </div>
    </div>
</section>  

  
  
  

  <!-- START: footer -->

       >
            <center>
              
            <h3>Contacto</h3>
            <ul class="probootstrap-contact-info">
              <li><i class="icon-location2"></i> <span>Cuesta los Robles 120, Cuesta Blanca , Córdoba</span></li>
              <li><i class="icon-mail"></i><span>complejocuestalosrobles@gmail.com</span></li>
              <li><i class="icon-phone2"></i><span>3516648111</span></li>
            </ul>
            
         
      </center>
  
  <div class="row mt40">
        <div class="col-md-12 text-center">
          <ul class="probootstrap-footer-social">
            <li><a href="https://wa.me/543516648111"><i class="icon-phone2"></i></a></li>
            <li><a href="https://www.facebook.com/CabanaCuestaLosRobles/"><i class="icon-facebook"></i></a></li>
            <li><a href="https://instagram.com/complejocuestalosrobles"><i class="icon-instagram2"></i></a></li>
          </ul>
         
          
        </div>
      </div>
    </div>
  </footer>
  <!-- END: footer -->

  <script src="{% static 'Home/js/scripts.min.js' %>}"></script>
  <script src="{% static 'Home/js/main.min.js' %>}"></script>
  <script src="{% static 'Home/js/custom.js' %>}"></script>


  </body>
</html>