
{% extends 'Home/base.html' %}

{% block lista_casas %}
<div>
<form method="get">
   {{formulario.as_p}}
   <input type="submit" value="Buscar">
   </form>
</div>
   <div>
   {% for casa in casas %}   
   
       <div class="text">
         <h3>{{casa.nombre}}</h3>
         <p><img src="/media/{{casa.imagen_casa}}" height="200" width="200"></p>
         <p>{{casa.descripcion}}</p>
         <p> <a href="{%url 'casadetail' casa.id %}">Ver mas</a></p>
      </div> 
   </div>
     
  </div>
   
   {% endfor %}
   
{% endblock lista_casas %}
      
 
  

      