<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reservar</title>
</head>
<body>
  

  
<!--   <section class="probootstrap-section">
    <div class="container">
      <div class="row probootstrap-gutter40">
        <div class="col-md-8">
          <h2 class="mt0">Formulario de reserva</h2>
          <form action="#" method="post" class="probootstrap-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="apellido">Apellido</label>
                  <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <div class="form-field">
                <i class="icon icon-mail"></i>
                <input type="email" class="form-control" id="email" name="email">
              </div>
            </div>
            <div class="form-group">
              <label for="room">Casa</label>
              <div class="form-field">
                <i class="icon icon-chevron-down"></i>
                <select name="casa" id="casa" class="form-control">
                  <option value="">Selecciona la casa</option>
                  <option value="1">Casa Los Robles</option>
                  <option value="2">Casa Los Espinillos</option>
                  <option value="3">Casa Los Molles</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dia-checkin">Arrivo</label>
                  <div class="form-field">
                    <i class="icon icon-calendar2"></i>
                    <input type="text" class="form-control" id="dia-checkin" name="dia-checkin">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dia-checkout">Salida</label>
                  <div class="form-field">
                    <i class="icon icon-calendar2"></i>
                    <input type="text" class="form-control" id="dia-checkout" name="dia-checkout">
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb30">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="adultos">Adultos</label>
                  <div class="form-field">
                    <i class="icon icon-chevron-down"></i>
                    <select name="adultos" id="adultos" class="form-control">
                      <option value="">Cantidad de Adultos</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="niños">Niños</label>
                  <div class="form-field">
                    <i class="icon icon-chevron-down"></i>
                    <select name="niños" id="niños" class="form-control">
                      <option value="">Cantidad de niños</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-lg" id="submit" name="Reservar" value="Reservar">
            </div>
          </form> -->

<form method="post">{% csrf_token %}
  
  <table>
  
    {{mireserva.as_table}}

  </table>
  <p><input type="submit" value="Reservar"></p>
</form>


      </body>
</html>